/* PRODUCT MENU*/

.product-section{
    --product-section-width: calc(85vw - var(--width-space-size-medium) - var(--scrollbar-width));
    --product-aside-width: calc(15vw - var(--width-space-size-medium));
    margin-left: var(--width-space-size-medium);
    margin-right: var(--width-space-size-medium);
    display: grid;
    grid-template-columns: var(--product-aside-width) var(--product-section-width);
    margin-top: var(--space-size-large-2);

    
}
.product-side-titles{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    
    
    
}
.product-side-titles a{
    padding: 10px 5px 10px 5px;
    font-weight: var(--text-weight-bold);
    border-radius: var(--border-radius-small);
    text-align: center;
    background-color: var(--color-darkgrey);
    border: 2px solid var(--color-darkgrey);
    transition: 0.3s;
    text-transform: capitalize;
    font-size: var(--text-size-small-2);
    color: var(--color-text-white);
    font-weight: var(--text-weight-bold);

}
.product-side-titles a:hover{
    background-color: var(--color-white);
    color: var(--color-darkgrey);
}
    

.product-side-content{
    --product-gap:1vw;
    --product-side-units:4;
    --product-units-height:20vw;
    --gap-section-calc: calc( (var(--product-gap) * var(--product-side-units)) - var(--product-gap));
    gap:var(--product-gap);
    --product-side-units-calc: calc(((var(--product-section-width) - var(--gap-section-calc)) / var(--product-side-units)));
    display: grid;
    grid-template-columns: repeat(var( --product-side-units), var(--product-side-units-calc));
    margin-top: var(--space-size-medium-1);
    

    

}
.product-side-container{
    cursor: pointer;

}
.product-units-container{
    margin-top: var(--space-size-medium-1);

}
.product-side-img{ 
    height: var(--product-units-height);
    background-color: rgb(244 244 244);
    border-radius: var(--border-radius-small);
}
.product-unit-titles-container{
    display: none;
    grid-template-columns: 1fr;
    margin-left: 20px;
    
}
.product-unit-titles-container a{
    font-size: var(--text-size-small-2);
    text-transform: capitalize;
    margin-top: var(--space-size-small-1);
    color: var(--color-darkgrey);

}
.product-unit-title{
    font-size: var(--space-size-large-1);
    font-weight: var(--text-weight-bold);
    font-family:var(--text-weight-bolder);
    cursor: pointer;
}
.product-side-nazev{
    margin-top: var(--space-size-medium-1);
    font-size: var(--text-size-small-1);
    font-weight: var(--text-weight-bold);
    font-family: var(--text-weight-bolder);
    text-transform: uppercase;
}
.product-side-desc{
    color: var(--color-grey);
    font-size: var(--text-size-small-2);
    text-transform: capitalize;

}
.product-side-cena{
    font-size: var(--text-size-small-2);
    color: var(--color-orange);
    font-weight: var(--text-weight-bold);
}

.product-side-cena::after{
    content: " Kč";
}

@media screen and (max-width: 1000px){
    .product-side-content{
        --product-gap:1vw;
        --product-side-units:2;
        --product-units-height:40vw;
    }

}
.button_cadre_work.is-active #blank_work {
    margin-top:100px;
    margin-left:80px;
}
@media screen and (max-width: 700px){
    .product-unit-title{
        font-size: calc(var(--space-size-large-1) - 7px);
        cursor: pointer;
    }


}
@media screen and (max-width: 500px){

    .product-side-content{
        --product-gap:1vw;
        --product-side-units:2;
    }
    
    .select-side{
        display: none;
    }
    .product-section{
        --product-section-width: calc(100vw - var(--width-space-size-medium)*2 - var(--scrollbar-width));
        --product-aside-width: calc(0 - var(--width-space-size-medium));
    }

}