/*< < < < < < VARIABLES > > > > > >*/ 


:root {

    /*< < < MAIN VARIABLES > > >*/ 

    /*TOP, BOTTOM SPACE SIZES*/

    --space-size-small-1:5px;
    --space-size-small-2:10px; /*gaps between texts*/

    --space-size-medium-1:15px;
    --space-size-medium-2:20px; /*gaps between paragraphs*/

    --space-size-large-1:25px;
    --space-size-large-2:35px;  /*bigger gaps between paragraphs*/

    /*LEFT, RIGHT SPACE SIZES*/


    --width-space-size-large:12.5vw; /*gaps on left and right side of main site*/
    --width-space-size-medium: 3vw;

    /*BORDER RADIUS*/

    --border-radius-small:7px; 


    /*FONT SIZES*/

    --text-size-small-1: 15px;
    --text-size-small-2: 18px;
    --text-size-small-3: 21px;
    --text-size-medium-1: 24px;
    --text-size-medium-2: 27px;
    --text-size-medium-3: 30px;
    --text-size-large-1: 36px;
    --text-size-large-2: 42px;
    --text-size-large-3: 48px;

    /*FONT WEIGHTS*/

    --text-weight-bold: bold;
    --text-weight-bolder: 'Josefin SansB', sans-serif;
    --text-weight-lighter: 'Josefin Sans', sans-serif;

    /*TEXT SHADOWS*/

    --text-shadow-lighter: 0px 0px 10px rgba(25, 25, 25, 0.199);
    --text-shadow-light: 0px 0px 10px rgba(25, 25, 25, 0.336);
    --text-shadow-dark: 0px 0px 10px rgba(25, 25, 25, 0.671);
    --text-shadow-darker: 0px 0px 10px rgba(25, 25, 25, 0.671);

    /*< < < SECONDARY VARIABLES > > >*/ 

    /*HTML SCROLLBAR WIDTH*/

    --html-width:100vw;
    --scrollbar-width:10px;
    --html-width-calculated:calc(var(--html-width) - var(--scrollbar-width));

    /*HEADER FIRSTBLOCK ROZMERY*/

     --first-block-height:80px;

    /*HEADER SECONDBLOCK ROZMERY*/
    --second-block-height:45px;
    --second-header-width:40vw;
    --second-header-paddingTB:calc((var(--second-block-height) - var(--text-size-small-3))/2);
    --second-header-paddingLR:5vw;
    --second-header-units:4;
    --second-header-columns-length: calc(var(--second-header-width) - var(--second-header-paddingLR)*2); 
    --second-header-column-length: calc(var(--second-header-columns-length)/var(--second-header-units));

    /*BODY SLIDER ROZMERY*/

    --slider-unit-height:600px;

    /*BODY FAVOURITE-BRANDS ROZMERY*/

    --favourite-brands-unit-width-calc:calc((var(--html-width-calculated) - var(--gap)*var(--favourite-brand-unit-columns-fixed) + var(--gap) - var(--width-space-size-large)*2)/var(--favourite-brand-unit-columns-fixed));
    --favourite-brands-one-unit-width:calc((var(--favourite-brands-unit-width-calc) + var(--gap))*);
    


 

}
/*< < < < < < VARIABLES MOBILE PHONE> > > > > >*/

@media screen and (max-width: 1000px){

    :root {

        /*< < < MAIN VARIABLES > > >*/ 

        /*< < < SECONDARY VARIABLES > > >*/ 

        /*HEADER SECONDBLOCK ROZMERY*/

        --second-header-width:70vw;
        --second-header-padding:5vw; 



    }
}

@media screen and (max-width: 500px){
    

    :root {

        /*< < < MAIN VARIABLES > > >*/ 

        /*TEXT SIZES*/

        --text-size-small-1: 17px;
        --text-size-small-2: 18px;
        --text-size-small-3: 19px;
        --text-size-medium-1: 21px;
        --text-size-medium-2: 23px;
        --text-size-medium-3: 25px;
        --text-size-large-1: 28px;
        --text-size-large-2: 31px;
        --text-size-large-3: 8vw;

        /*< < < SECONDARY VARIABLES > > >*/ 

            /*HTML SCROLLBAR WIDTH*/

        --html-width:100vw;
        --scrollbar-width:0px;
        --html-width-calculated:calc(var(--html-width) - var(--scrollbar-width));

        /*HEADER FIRSTBLOCK ROZMERY*/

        --first-block-height:50px;

        /*BODY SLIDER ROZMERY*/

        --slider-unit-height:400px;

            /*TOP, BOTTOM SPACE SIZES*/

        --space-size-small-1:5px;
        --space-size-small-2:10px; /*gaps between texts*/

        --space-size-medium-1:15px;
        --space-size-medium-2:20px; /*gaps between paragraphs*/

        --space-size-large-1:25px;
        --space-size-large-2:35px;  /*bigger gaps between paragraphs*/

        /*LEFT, RIGHT SPACE SIZES*/


        --width-space-size-large:20px; /*gaps on left and right side of main site*/



    




        

    }

    
    
}